

/* https://stackoverflow.com/questions/50370958/color-tick-mark-tick-mark-labels-in-sliderinput-shiny*/

.irs-grid-text:nth-child(-2n+18) {
  color: white;
  -webkit-text-stroke-width: 0.2px;
  -webkit-text-stroke-color: black

}

.irs-grid-text:nth-child(2n+20) {
  color: white;
  -webkit-text-stroke-width: 0.2px;
  -webkit-text-stroke-color: black
}

.irs-grid-pol:nth-of-type(-n+18) {
  background:white
}

.irs-grid-pol:nth-of-type(n+18) {
  background:white
  }


.sidebarItemExpanded {
  overflow: auto;
  height: calc(100vh - 50px) !important;
}

.radioSelect{
font-size: 14px;
font-weight: bold;
color: #420D09;
margin: 0px;
padding:1px;
}



.bg_select{
font-size: 16px;
font-weight: bold;
color: #FFFFFF;
}

.slide_select{
font-size: 16px;
font-weight: bold;
color: #FFFFFF;
background-color:#000000;
}


.drop_select{
font-size: 16px;
font-weight: bold;

/*color: #000000;*/
}

.bg_sidebar_cv{
font-size: 14px;
font-weight: bold;
background-color: coral;
opacity: 0.5;
}


.main-sidebar {
  /*background-color: powderblue !important;*/
  font-weight: bold;
}


.table_view{
font-size: 8px;
color: #000000;
}


.bg_gray{
  background-color: #CCCCCC;
}


.my_textinput {
  color: #800000;

}


.btn_width {
   font-size: 12px;
   color: #FF0000;
}


